# root ignore
Desktop*
Documents*
Download*
Music*
Videos*
VirtualBoxVMS*
Public*
Pictures*
Game*

envthlr*
ranger*
projet*
usb*
go*

*.log

.oh-my-zsh*
.bash*
.cache*
.cargo*
.gnupg*
.histfile
.local*
.minecraft/
.mozilla*
.npm*
.ollama*
.pki*
.pre-commit-config.yaml
.Preview*
.profile
.pulse-cookie
.python*
.rustup*
.ssh*
.steam*
.tmux*
.vim*
.vmware*
.zcompdump*
.zshenv
.zsh_history
.zen*
.gitconfig
.config-*

# .config

*.backup*
QtProject.conf
user-dirs.*
dconf

.config/discord*
.config/Electron*
.config/evolution*
.config/glade.conf
.config/gnome-session*
.config/goa-1.0*
.config/gtk-3.0*
.config/.gsd-keyboard.settings-ported
.config/htop*
.config/ibus*
.config/keepassxc*
.config/mimeapps.list
.config/nvim_minimal*
.config/nautilus*
.config/neofetch*
.config/obsidian*
.config/procps*
.config/pulse*
.config/ranger*
.config/rofi.maurin*
.config/StardewValley*
.config/systemd*
.config/trizen*
.config/VirtualBox*
.config/wal*
.config/yay*
.config/go*
.config/python*
.config/zed*
