#ignore all
*

# else these files
!.config/hypr/*
!.config/kitty/*
!.config/nvim/*
!.config/rofi/*
!.config/scripts/*
!.config/swaync/*
!.config/waybar/*

!wallpaper/*
!.gitignore
!.zshrc
!README.md
!duck.png
!todo
