# root ignore
Desktop*
Documents*
Download*
Music*
Videos*
Public*
Pictures*

ranger*
projet*
usb*
go*

*.log

.oh-my-zsh*
.bash*
.cache*
.cargo*
.gnupg*
.histfile
.local*
.mozilla*
.npm*
.pki*
.profile
.pulse-cookie
.rustup*
.ssh*
.steam*
.vim*
.zcompdump*
.zshenv
.zsh_history
.gitconfig
.config-*

# .config

*.backup*
QtProject.conf
user-dirs.*
dconf

.config/discord*
.config/Electron*
.config/evolution*
.config/gnome-session*
.config/goa-1.0*
.config/gtk-3.0*
.config/htop*
.config/ibus*
.config/keepassxc*
.config/nautilus*
.config/obsidian*
.config/procps*
.config/pulse*
.config/ranger*
.config/rofi.maurin*
.config/StardewValley*
.config/trizen*
.config/wal*
.config/yay*
.config/go*
.config/python*
